{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <h1>Auto-filled Fields </h1>
        <p>{{author}}</p>


        <form action="/add_book" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="isbn" name="isbn" placeholder="author" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
        

{% endblock %}