{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<!-- Modal for confirmation -->
<div class="modal" id="confirmationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this book from your library?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="submitForm()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <img src='{{book[0]["cover_L"]}}'>
    </div>
    <div class="col-8">
        <form action="/update_book" method="POST">
                <div class="row mb-3">
                    <label for="author" class="col-sm-2 col-form-label">Author(s)</label>
                    <div class="col-sm-6">
                        <input autocomplete="off" autofocus class="form-control" id="author" name="author" type="text" value="{{book[0]['author']}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-6">
                        <input autocomplete="off" autofocus class="form-control" id="title" name="title" type="text" value="{{book[0]['title']}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="publisher" class="col-sm-2 col-form-label">Publisher</label>
                    <div class="col-sm-6">
                        <input autocomplete="off" autofocus class="form-control" id="publisher" name="publisher" type="text" value="{{book[0]['publisher']}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="publish_date" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-6">
                        <input autocomplete="off" autofocus class="form-control" id="year" name="year" type="text" value="{{book[0]['year']}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="cover_L" class="col-sm-2 col-form-label">Cover URL</label>
                    <div class="col-sm-6">
                        <input autocomplete="off" autofocus class="form-control" id="cover_L" name="cover_L" type="text" value="{{book[0]['cover_L']}}">
                    </div>
                </div>
                <input type="hidden" id="book_id" name="book_id" value="{{book[0]['book_id']}}">
                <button class="btn btn-primary" type="submit">Update Book</button>
            </form>
            <form id="delete_book" action="/delete_book" method="POST">
                <input type="hidden" id="book_id" name="book_id" value="{{book[0]['book_id']}}">
                <button class="btn btn-danger" type="submit">Delete Book</button>
            </form>

    </div>
</div>

<script>
    function submitForm() {
        document.getElementById('delete_book').submit();
    }

    // Show the modal on form submission
    document.getElementById('delete_book').onsubmit = function (event) {
        event.preventDefault(); // Prevent the form from submitting immediately
        $('#confirmationModal').modal('show');
    };
</script>



{% endblock %}