{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-4">
        <img src='{{book[0]["cover_L"]}}'>
    </div>
    <div class="col-8">
        <form action="/update_book" method="POST">
                <div class="row mb-3">
                    <label for="author" class="col-sm-2 col-form-label">Author(s)</label>
                    <div class="col-sm-6">
                        <input autocomplete="off" autofocus class="form-control" id="author" name="author" type="text" value="{{book[0]['author']}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-6">
                        <input autocomplete="off" autofocus class="form-control" id="title" name="title" type="text" value="{{book[0]['title']}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="publisher" class="col-sm-2 col-form-label">Publisher</label>
                    <div class="col-sm-6">
                        <input autocomplete="off" autofocus class="form-control" id="publisher" name="publisher" type="text" value="{{book[0]['publisher']}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="publish_date" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-6">
                        <input autocomplete="off" autofocus class="form-control" id="year" name="year" type="text" value="{{book[0]['year']}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="cover_L" class="col-sm-2 col-form-label">Cover URL</label>
                    <div class="col-sm-6">
                        <input autocomplete="off" autofocus class="form-control" id="cover_L" name="cover_L" type="text" value="{{book[0]['cover_L']}}">
                    </div>
                </div>
                <input type="hidden" id="book_id" name="book_id" value="{{book[0]['book_id']}}">
                <button class="btn btn-primary" type="submit">Update Book</button>
        </form>
    </div>
</div>


{% endblock %}